
#root {
  width: 1010px;
  height: 100dvh;
  background-color: #ffffff;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@media (max-width: 1010px) {
  #root{
    width: 100vw;
  }
}
